*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.header__inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0;
  color: white;
  background-color: #000;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  z-index: 3;
}

.logo__title {
  font-size: 35px;
}

.logo__title-color {
  color: #5ce1e6;
}

.logo__subtitle {
  font-size: 16px;
}

.burger {
  padding: 10px;
  margin: 0;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}

.burger__container {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.burger__items {
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: white;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.burger__items::before,
.burger__items::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: white;
  left: 0;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.burger__items::before {
  top: -10px;
}

.burger__items::after {
  top: 10px;
}

.burger--open .burger__items {
  background-color: transparent;
}

.burger--open .burger__items::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.burger--open .burger__items::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.menu__list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 2;
}

@media (min-width: 992px) {
  .menu__list {
    opacity: 1;
    pointer-events: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
  }
}

.menu__list--open {
  opacity: 1;
  pointer-events: unset;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__item {
  margin: 20px 0;
}

@media (min-width: 992px) {
  .menu__item {
    margin: 0 20px;
  }
}

.menu__link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.menu__link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 25px;
}

.main-banner {
  height: 100vh;
  width: 100%;
  background-color: #000;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  scroll-margin-top: 50px;
}

.about-us__header {
  font-size: 30px;
  text-transform: uppercase;
}

.about-us__paragraph {
  margin-top: 10px;
  text-align: justify;
}

.about-us__img {
  display: none;
}

@media (min-width: 992px) {
  .about-us__img {
    display: block;
    width: 100%;
    max-width: 350px;
    margin-left: 30px;
    overflow: hidden;
  }
}

.offer {
  padding-top: 60px;
  scroll-margin-top: 50px;
}

.offer__header {
  font-size: 30px;
  text-transform: uppercase;
}

.offer__list {
  margin: 10px 0;
  list-style-position: inside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  line-height: 1.8;
}

@media (min-width: 577px) {
  .offer__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 767px) {
  .offer__item {
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
  }
}

.offer__item::marker {
  color: yellow;
}

.gallery {
  padding-top: 40px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.gallery__item:nth-last-child(1) {
  display: none;
}

@media (min-width: 992px) {
  .gallery__item:nth-last-child(1) {
    display: unset;
  }
}

.gallery__img {
  width: 100%;
}

.contact {
  padding-top: 60px;
  scroll-margin-top: 50px;
}

.contact__header {
  font-size: 30px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.wrapper__media {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link {
  margin: 4px 0;
  padding: 2px;
  color: black;
  text-decoration: none;
}

.contact__link:hover {
  color: #5ce1e6;
}

.contact__link-icon {
  margin-right: 6px;
}

.contact__social-icon {
  font-size: 45px;
  margin: 20px 0;
}

.wrapper_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 577px) {
  .contact__form {
    padding: 0 60px;
  }
}

@media (min-width: 767px) {
  .contact__form {
    padding: 0 90px;
  }
}

.contact__label {
  font-size: 16px;
  margin-top: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact__input {
  padding: 0 10px;
  margin: 6px 0;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: inherit;
  border: 2px solid black;
}

.contact__textarea {
  padding: 5px 10px;
  margin: 6px 0;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  border: 2px solid black;
}

.contact__button {
  cursor: pointer;
  padding: 15px 20px;
  margin: 10px 0 20px 0;
  border: 2px solid black;
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.contact__button:hover {
  background-color: #5ce1e6;
}

.footer {
  text-align: center;
  background-color: #000;
  padding: 20px 0;
}

.footer__text {
  color: white;
}
/*# sourceMappingURL=style.css.map */