.about-us {
    @include flexSettings;
    @include sectionTop;
}

.about-us__header {
    @include sectionTitleSize ;
}

.about-us__paragraph {
    margin-top: 10px;
    text-align: justify;
}

.about-us__img {
    display: none;
    @media (min-width: 992px) {
            display: block;
            width: 100%;
            max-width: 350px;
            margin-left: 30px;
            overflow: hidden;
        }
}
