.gallery {
    padding-top: 40px;
}

.gallery__list {
    display: flex;
    list-style: none;
}

.gallery__item:nth-last-child(1) {
    display: none;
    @media (min-width: 992px) {
            display: unset;
    }
}

.gallery__img {
    width: 100%;
}