.header {
    height: 15vh;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 5px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
}

.logo_title {
    font-size: 35px;
}

.logo_title-color {
    color: #5ce1e6;
}

.logo_subtitle {
    font-size: 15px;
}

.menu_button {
    color: white;
}
.menu_list {
    display: none;
}
