.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.header_inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 6px;
    margin: 12px 0;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    z-index: 3;
}

.logo_title {
    font-size: 35px;
}

.logo_title-color {
    color: #5ce1e6;
}

.logo_subtitle {
    font-size: 15px;
}


.menu_button {
    position: fixed;
    top: 40px;
    right: 35px;
    cursor: pointer;
    color: white;
    z-index: 3;
}

@media (min-width: 992px) {
    .menu_button {
        display: none;
    }
}
.menu_list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    transform: translateY(-100%);
    z-index: 2;
}

.menu_list--open {
    opacity: 1;
    pointer-events: unset;
    transform: translateX(0)
    
}

@media (min-width: 992px) {
    .menu_list {
        opacity: 1;
        pointer-events: unset;
        transform: translateX(0);
        position: unset;
        flex-direction: row;
        background-color: transparent;
        
    }
}

.menu_item {
    margin: 20px;
}

@media (min-width:992px) {
    .menu_item {
    margin: 0 20px;
    }
}

.menu_link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    transition: background-color 0.4s;
    &:hover {
        background-color: rgba(255, 255, 255, 0.4)
    }
}