.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.header__inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    @include flexSettings(space-between);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0;
    color: white;
    background-color: $bg-color;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    z-index: 3;
}

.logo__title {
    font-size: 35px;
}

.logo__title-color {
    color: $special-color;
}

.logo__subtitle {
    font-size: 16px;
}

.menu__button {
    position: relative;
    cursor: pointer;
    color: white;
    z-index: 3;
    @media (min-width: 992px) {
            display: none; 
    }
}
.menu__list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bg-color;
    @include flexSettings;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    transform: translateY(-100%);
    z-index: 2;
    @media (min-width: 992px) {
            opacity: 1;
            pointer-events: unset;
            transform: translateX(0);
            position: unset;
            flex-direction: row;
            background-color: transparent;  
    }
    &--open {
        opacity: 1;
        pointer-events: unset;
        transform: translateX(0)
        
    }
}

.menu__item {
    margin: 20px 0;
    @media (min-width: 992px) {
        margin: 0 20px;
    }
}

.menu__link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    transition: background-color 0.4s;
    &:hover {
        background-color: rgba(255, 255, 255, 0.4)
    }
}