@mixin flexSettings ($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin sectionTitleSize {
    font-size: 30px;
    text-transform: uppercase;
}
@mixin sectionTop {
    padding-top: 60px;
    scroll-margin-top: 50px;
}