.offer {
    @include sectionTop;
}

.offer__header {
    @include sectionTitleSize ;
}

.offer__list {
    margin: 10px 0;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
}

.offer__item {
    flex-basis: 100%;
    line-height: 1.8;
    @media (min-width: 577px) {
            flex-basis: 50%;
    }
    @media (min-width: 767px) {
            flex-basis: 33.3%;
    }
    &::marker {
        color: yellow;
        }
}


