.offer {
    padding-top: 60px;
    scroll-margin-top: 50px;
    
}

.offer_header {
    text-transform: uppercase;
    font-size: 30px;
}

.offer_list {
    margin: 10px 0;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
}

.offer_item {
    flex-basis: 100%;
    line-height: 1.9;
}

@media (min-width: 577px) {
    .offer_item {
        flex-basis: 50%;
    }
}
@media (min-width: 767px) {
    .offer_item {
        flex-basis: 33.3%;
    }
}

.offer_item::marker {
color: yellow;
}